a:hover{
    cursor: pointer;
}
.swiper-container{
    height: 100%;
}

@media (min-width: 769px) {
    #pc{
        display: block;
    }
    #mobile{
        display: none;
    }
}
@media (max-width: 768px) {
    #pc{
        display: none;
    }
    #mobile{
        display: block;
    }
}